{% extends "blog/base.html" %}

{% block title %}
CONTACT
{% endblock %}

{% block heading %}
<h1>CONTACT</h1>
{% endblock %}

{% block main %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                <div class="my-5">
                    {% include "blog/form_contact.html" %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}