{% extends "blog/base.html" %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block image %}
    {% if post.image %}
        style="background-image: url('{{ post.image.url }}')"
    {% else %}
        style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')"
    {% endif %}
{% endblock %}

{% block heading %}
<h1>{{ post.title }}</h1>
{% endblock %}

{% block main %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.descr }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}